@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primiary_Color: '#f8821e';
  --Secondary_Color: '#1d013b';
  --White_Color: '#fafafa';
  --Black_Color: '#000';
  --Grey_Color: '#ccc';
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

h2,
h3 {
  font-family: 'Oswald';
  font-weight: 600;
}

/* Navbar */
.mobileNav {
  display: none !important;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* font-family: 'Oswald'; */
  font-size: 20px;
}

.nav-links a:hover {
  color: #f8821e;
}

/* Button */
.button {
  font-family: 'Oswald';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 54px;
}

.primaryBtn {
  background: linear-gradient(to right, #f8821e 50%, #1d013b 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #1d012b;
  transition: all 0.5s ease-out;
}

.ghostBtn {
  background: linear-gradient(to right, #f8821e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid #fafafa;
  transition: all 0.5s ease-out;
}

.button:hover {
  background-position: left bottom;
  border: 2px solid #f8821e;
  /* transition: all 0.5s ease-out; */
}

.btnText {
  font-size: 18px;
  color: #fafafa;
  text-align: center;
}

/* Pattern */
.pattern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pattern img {
  /* width: 100%; */
  max-width: 1200px;
  height: 100%;
}

/* Video Play Button */
.playButton {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#f8821e, #fc9d13);
  border-radius: 50%;
  z-index: 8;
}

.playButton::before,
.playButton::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fc9d13;
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
}

.playButton:before {
  animation: pulse 2s ease-out infinite;
}

.playButton:after {
  animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/* Experience */
.experience {
  min-height: 100%; /* Use min-height instead of height */
  width: 100%;
  background-image: linear-gradient(-45deg, rgba(248, 130, 30, 0.35), rgba(109, 109, 109, 0.4)),
    url('/assets/slider-images/img-5.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: clamp(4rem, 12vw, 10rem);
  padding-bottom: clamp(4rem, 12vw, 10rem);
}

/* Testimonials */
.testimonial {
  min-width: 125px;
  width: 125px;
  height: 200px !important;
}

.testimonial img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

/* Blog Card */
.blogCard .blogCardThumb {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.blogCard .blogCardThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.blogCard:hover .blogCardThumb img {
  transform: scale(1.1);
}

.shine {
  position: absolute;
  top: 0;
  left: -160%;
  width: 25%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-45deg);
  transition: all 1s ease-in-out;
}

.blogCard:hover .blogCardThumb .shine,
.teamCard:hover .shine {
  left: 160%;
  z-index: 200;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  /* Navbar */
  .hideOnMobile {
    display: none !important;
  }
  .mobileNav {
    display: flex !important;
  }

  /* Mobile Nav Styles */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    padding-top: 100px;
    transform: translateY(-100%);
    will-change: transform;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .menu ul li {
    color: #fafafa;
    display: block;
    transform-origin: -20px 50%;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    will-change: transform, opacity, filter;
  }

  .menu ul li:hover {
    color: #f8821e;
  }

  .menu ul,
  .menu ul li {
    list-style: none;
    margin: 0;
    text-align: center;
  }

  .menuToggle {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #e9630d;
    padding: 10px;
  }

  .menuToggle path {
    fill: #fafafa;
  }

  /* Button */
  .button {
    width: 150px;
    height: 50px;
  }

  .btnText {
    font-size: 16px;
  }
}
